{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.


{ex_doc, [{extras, ["README.md", "LICENSE"]},
          {main, "README.md"},
          {homepage_url, "https://github.com/gilbertwong96/erlang_base62"},
          {source_url, "https://github.com/gilbertwong96/erlang_base62"},
          {assets, "assets"}
         ]}.

{erl_opts, [debug_info,
            warn_export_all,
            warn_unused_import]}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{dialyzer_base_plt_apps, [kernel, stdlib, erts, sasl, ssl, syntax_tools, compiler, crypto]}.

